<div class="d-flex justify-content-between mt-4">
    <p class="fs-2">Advertising</p>
    <div class="d-flex align-items-center">
      <i class="material-icons me-3">&#xe15d;</i>
      <h3>Not Started</h3>
    </div>
  </div>
  <p class="border-bottom border-2 border-danger mt-2"></p>
 <form [formGroup]="advForm" (ngSubmit)="advSub()">
  <div class="container-fluid">
    <p class="fs-4">Vehicle Advertising Settings</p>
    <p class="border-bottom border-1 border-dark mt-2"></p>

    <div class="d-flex align-items-center">
        <p class="me-1">Active ads on every vechicle type with at least</p> 
        <div class="col-2">
            <select class="form-select border border-dark py-3 mb-3" aria-label="Default select example"
             >
            <option *ngFor="let item of stock" [value]="item.select">
              {{ item.select }}
            </option>
          </select>
        </div> 
        <p class="ms-1">in stock</p>
    </div>
    <p class="fw-normal ">Exclude the following models or trims from Digital Ads, even if they are in my inventory feed</p>
    <div class="d-flex flex-column" >
        <label class="col-3" >Exclude the following models:
        <input type="text" id="inputPassword6" 
        class="form-control border border-dark py-3 mt-2" />
        </label>
        <label class="col-3 mt-2" >Exclude the following models:
            <input type="text" id="inputPassword6" 
            class="form-control border border-dark py-3 mt-2" />
            </label>
    </div>
      <p class="fs-4 mt-4">Vechicle Payment Rules</p>
      <p class="border-bottom border-1 border-dark mt-2"></p>
      <p>Please identify the price (before incentives and rebates) you want to use to calculate these payments.</p>
      <div class="container">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Selling price
            </label>
            <p>Enables ads to be updated as frequently as you change your price in your inventory management system.</p>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              MSRP
            </label>
            <p>Great options for dealerships who have stric manufacture guidelines. +/- dollar amount or a percentage; customizable by model</p>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
             invoice
            </label>
            <p>+/- dollar amount or a percentage; customizable by model</p>
          </div>

      </div>
      <p class="fs-4">Dealership Differentiators aka "Why Buy Here"</p>
      <p class="border-bottom border-1 border-dark mt-2"></p>
      <p>Our system receives MSRP, Invoice and Selling Price values from your inventory feed. Our technology can automatically apply OEM Rebates, Lease Cash and Dealer Cash to calculate the VIN-specific monthly Lease & Finance Payments featured in your ads.</p>
      <p>Tell shoppers what sets you apart from every other dealership - in 30 characters or less. Featured in New Vehicle Search Ads. i.e., We Say Yes to No Down Payment; Lifetime Warranty Standard; Low Price Guarantee</p>

      <div class="">
          <div class="d-flex align-items-center" *ngFor="let item of inputData" >
            <div class="col-1 fs-5">{{item.id}}</div>
            <div class="col-3"> <input type="text" id="{{item.value}}" 
               formControlName={{item.value}} class="form-control border border-dark py-3 mt-2" />
          </div>
          </div>
          <div class="d-flex align-items-center">
            <div class="col-1 fs-5">2</div>
            <div class="col-3"> <input type="text" id="inputPassword6" 
              class="form-control border border-dark py-3 mt-2" />
          </div>
          </div>
          <div class="d-flex align-items-center">
            <div class="col-1 fs-5">3</div>
            <div class="col-3"> <input type="text" id="inputPassword6" 
              class="form-control border border-dark py-3 mt-2" />
          </div>
          </div>
          <div class="d-flex align-items-center">
            <div class="col-1 fs-5">4</div>
            <div class="col-3"> <input type="text" id="inputPassword6" 
              class="form-control border border-dark py-3 mt-2" />
          </div>
          </div>
          <div class="d-flex align-items-center">
            <div class="col-1 fs-5">5</div>
            <div class="col-3"> <input type="text" id="inputPassword6" 
              class="form-control border border-dark py-3 mt-2" />
          </div>
          </div>
          
       
      </div>
      <p class="fs-4">Service Advertising Settings</p>
      <p class="border-bottom border-1 border-dark mt-2"></p>
      <p>By default, Foundation will activate Brand-Specific Paid Search campaigns against the following Service Offerings. Please deselect any you do not wish to advertise.</p>
       <div class="container-fluid">
        <div class="form-check mb-4"  *ngFor="let item of advInputObj">
            <input class="form-check-input me-2" type="checkbox"  formControlName="{{item.value}}" value='{{item.value}}' id="{{item.value}}">
            <label class="form-check-label" for="{{item.value}}">
             {{item.value}}
            </label>
          </div>   
       </div>
  </div>
  <div class="d-flex flex-column align-items-end">

    <button type="submit" class="btn rounded-pill text-light  px-5 mb-5 save-btn">
      save
    </button>

  </div>

  </form>